<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.passthecard">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <activity
            android:name=".witness"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".aboutus"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".audioplay"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".videoplay"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".imageplay"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".newactivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".rules"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ManLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".loginstudent"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MainActivitycompose"
            android:exported="false" />
        <activity
            android:name=".flagthem"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activityc"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activityb"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activitya"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".introscreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>